@charset "UTF-8";



*{
    box-sizing: border-box;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#cabecalho {
    display: block;
}
#cabecalho h1 {
    text-align: center;
}
.material-icons-outlined{
    color: black;
    padding: 10px;
}
#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu nav {
    margin-bottom: 8px;
}
#menu a {
    text-decoration: none;
    color: black;
}
/* carrosel da pagina */
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}
#radio3:checked ~ .first {
    margin-left: -50%;
}
#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid white;
    width: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}
.navigation-auto{
    position: absolute;
    width: 100vw;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    left: 14.8px;
    
}
.navigation-auto div:not(last-child) {
    margin-right: 30px;
}
#imagem4 /* #imagem3, #imagem2, #imagem1 */ {
    height: 350px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}
.slider {
    margin: 0 auto;
    width: 100vw;
    max-height: 400px;
    overflow: hidden;
    display: flex;
}
.slides{
    width: 400%;
    max-height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1s;
}
.slide img {
    width: 100vw;
}

.navegacao-manual {
    position: absolute;
    width: 100vw;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    width: 10px;
    border: 2px solid white;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}
.manual-btn:hover{
    background-color: white;
}
/* fim do carrosel da pagina */
#principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#principal a {
    text-decoration: none;
}